// media queries for header
@media (max-width:1135px){
    header .navbar-default li.dropdown.open{
        position: relative;
         ul.dropdown-menu{
            width:180px;
            position: absolute;
            margin-right: 0;
                li{
                float:none;
                width:180px;
                a{
                 width:180px;
            }   }
        }
    }
}
@media (max-width:960px) {
    header.navbar-fixed-top{
        padding-left:20px;
    }
}
@media (max-width:870px) {
    header.navbar-fixed-top{
        padding-left: 10px;
    }
    header .navbar-default .navbar-nav li a {
        padding:22px 7px;
    }
}
@media (max-width:766px) {
    header{
        padding-bottom: 15px;
        .utility {
            margin-right: 50px;
                li{
                
                    margin: 0 15px;
                    span.utility-text{
                        display:none;
                    }
                    img{
                        width:30px;
                    }
                }
        }
        nav.navbar.navbar-default{
            position: relative;
            bottom:35px;
            margin-right: 10px;
            
        }
        .navbar-right li:hover .menu-item-active, .navbar-right li.active .menu-item-active, .navbar-right li:focus .menu-item-active{
        	display:none;
        
        }
        li.dropdown.open ul.dropdown-menu {
            display:block;
        }
        button.navbar-toggle{
            margin:0;
        }
    }
     
}
@media (max-width:600px){
    header .utility {
        // text-align: left;
        // margin:80px 0 15px;
        // display:block;
        // position:absolute;
    li{
            margin-left: 0;
        }
    }
    nav.navbar-default{
        // position: relative;
        // padding-top: 100px;
    }
}
@media (max-width: 400px){
    header.navbar-fixed-top{
        padding:0;
        .utility {
            margin-right: 30px;
                li {
                margin:3px;
                width:20px;
                }
                img{
                    width:25px;
                }
                
            
        }
        button.navbar-toggle{
            padding: 9px 3px;
        }
        nav.navbar-default{
            bottom:32px;
        }
    }
}
// end of header media queries

///////////////////////////
/////////H O M E //////////
///////////////////////////

@media (max-width: 2000px) and (min-width: 1080px) {
    section.programs {
        .home-program-orange, .home-program-yellow, .home-program-dark-blue, .home-program-light-blue {
            min-height: 37vh;
        }
    }
}
@media (max-width: 1200px){
        section.process ol.carousel-indicators img.arrow,
        section.process ol.carousel-indicators img.carousel-blue.arrow {
        position: static;
        display:none;
    }
}
@media (max-width: 1080px) {
    section.programs {
        .home-program-yellow {
            h3 {
                width: 80%;
            }
            p {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 960px) {
    section.numbers .stats div{
        padding: 40px 10px;
    }
    section.programs {
        .home-program-orange, .home-program-yellow, .home-program-dark-blue, .home-program-light-blue {
            min-height: 60vh;
        }
    }
}
@media (max-width: 870px) {
    section.process ol {
        display:none;
    }
    section.process p{
        margin-bottom: 50px;
    }
    section.programs {
        .home-program-dark-blue {
            h3 {
                width: 80%;
            }
            p {
                margin-top: 10px;
            }
        }
        .home-program-orange, .home-program-yellow, .home-program-dark-blue, .home-program-light-blue {
            min-height: 70vh;
        }
    }
}
@media (max-width: 768px) {
    section.numbers .stats div{
        padding: 10px;
    }
}

//start of media queries for home hero section
@media (max-width: 767px) {
	section.hero div.hero-modal, section.sat-hero div.modal, section.about-us-hero div.modal {
		div.modal-dialog.modal-sm {
			right: -10px;
		}
	}
}

@media (max-width: 750px) {
	section.hero h1 {
		margin-left: 5%;
		padding-right: 5%;
	}
}

@media (max-width: 550px) {
	section.hero h1 {
		padding-right: 14%;
	}
}

@media (max-width: 510px) {
	section.hero div.hero-modal, section.sat-hero div.modal, section.about-us-hero div.modal{
		div.modal-dialog.modal-sm {
			width: 355px;
		}
	}
}

@media (max-width: 480px) {
	section.hero h1 {
		font-size: 35px;
	}
}

@media (max-width: 400px) {
	section.hero div.hero-modal, section.sat-hero div.modal, section.about-us-hero div.modal {
		div.modal-dialog.modal-sm div.modal-content{
			div.form-group input, textarea {
				width: 95%;
			}
		}
	}
}

@media (max-width: 375px) {
	section.hero div.hero-modal, section.sat-hero div.modal, section.about-us-hero div.modal {
		div.modal-dialog.modal-sm {
			width: 285px;
			div.modal-content {
				h2 {
					font-size: 25px;
				}
			}
		}
	}
}

@media (max-width: 350px) {
	section.hero h1 {
		font-size: 32px;
	}
	section.hero div.hero-modal, section.sat-hero div.modal, section.about-us-hero div.modal {
		div.modal-dialog.modal-sm {
			width: 275px;
		}
	}
}


// start of media queries for numbers section
@media (max-width:960px){
    section.numbers .stats div{
        padding: 40px 10px;
    }
    section.numbers .row.stats .col-sm-4.second-stat{
        border:none;
    }
}
@media (max-width:768px){
    section.numbers .stats div{
        padding: 10px;
    }
}

@media (max-width: 480px) {
	section.numbers h1.numbers-heading {
		font-size: 30px;
		padding: 0 13px;
	}
	section.numbers div.stats div.col-sm-4 {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	section.numbers div.stats div.col-sm-4:first-of-type {
		border-bottom: 1px solid $light-grey;
		padding-top: 0;
	}
	section.numbers div.stats div.col-sm-4:last-of-type {
		border-top: 1px solid $light-grey;
	}
}
// end of media queries for numbers section


// start of media queries for index page process section
@media (max-width: 1094px){
    section.process ol.carousel-indicators {
        margin: 0 auto;
        width:90%;
    }
    section.process ol.carousel-indicators li.col-sm-2 {
        width:140px;
        margin: 0 8px;
        h5 {
            padding: 0px;
        }
    }
        section.process ol.carousel-indicators img.arrow,
        section.process ol.carousel-indicators img.carousel-blue.arrow {
        position: static;
        display:none;
    }
}
@media (max-width: 1054px){
    
    section.process ol.carousel-indicators li.col-sm-2 {
        width:136px;
        margin: 0 8px;
    }
}
@media (max-width: 1024px) {
        section.process ol.carousel-indicators li.col-sm-2 {
        width:128px;
        margin: 0 8px;
    }
}
@media (max-width: 991px){
    
        section.process ol {
        display:none;
    }
    section.process p{
        margin-bottom: 50px;
    }
}
@media (max-width:768px){
    section.process div.carousel-inner {
        margin:0 auto;
        width:95%;
    }
    section.process a.carousel-control{
        
        img{
            margin:60px 0 0 0;
        }
    }
    section.process .item h3{
        font-size: 20px;
    }
}

@media (max-width: 480px) {
	section.process h1 {
		font-size: 30px;
	}
}

@media (max-width: 375px) {
	section.process a.carousel-control.right {
		right: 32px;
	}
}

@media (max-width: 350px) {
	section.process a.carousel-control.right, section.process a.carousel-control.left {
		margin-top: 45px;
	}
	section.process div.tutor h2 {
		padding-bottom: 26px;
	}
}
// end of media queries index page process section


// start of media queries for tabs home section
@media (max-width: 991px){
    section.tabs-home .nav li {
            padding:9px;
            
    }
}
@media (max-width: 768px) {
    section.tabs-home .home-tabs li {
        width:calc(100% - 20px);
        margin:0 10px;
    }
    section.tabs-home .home-tabs li.second,
    section.tabs-home .home-tabs li.third {
        display:none;
    }
    section.tabs-home div.tabs-mobile{
        display:block;
    } 
}
// end of media queries for tabs home section


//start of media queries for Testimonials//
@media (max-width: 1174px) {
    section#testimonials {
        div.home-testimonial-call-box {
            width: 55%;
        }
    }
}
@media (max-width: 1100px) {
    section#testimonials {
        div.testimonial-form {
            .modal-content {
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}
@media (max-width: 1100px) and (min-width: 992px) {
    section#testimonials {
        div.testimonial-form {
            .modal-content {
                input[type="submit"] {
                    margin-left: 23%;
                }
            }
        }
    }
}
@media (max-width: 992px) {
    section#testimonials {
        img.testimonial-form-close-button {
            top: -24%;
            right: -7%;
        }
        div.testimonial-form {
            .modal-content {
                input[type="submit"] {
                    margin-left: 55%;
                }
            }
        }
    }
}
@media (max-width: 870px) {
    section#testimonials {
        div.home-testimonial-call-box {
            width: 70%;
        }
    }
}
@media (max-width: 768px) {
    section#testimonials {
        div.sponsors {
            div.sponsor {
                margin: 15px 0;
                img {
                    margin: 0 auto;
                } 
            }
        }
        div.carousel-inner {
            div.item {
                p.testimonial-text {
                    font-size: 18px;
                    text-align: center;
                }
            }
        }
        h1.home-testimonial-header {
            padding-bottom: 100px;
        }
        .carousel-control.left, .carousel-control.right {
            margin-top: -100px;
            img{
                width:130px;
                margin:0 18px;
            }
        }
        .carousel-control.left {
            margin-left: 17%;
        }
        .carousel-control.right {
            margin-right: 25%;
        }
    }
    div.testimonial-form {
        .modal-content {
            width: 85%;
            margin: 0 auto;
        }
    }
}
@media (max-width: 672px) {
    section#testimonials {
        img.testimonial-form-close-button {
            top: -21%;
        }
    }
}
@media (max-width: 660px) {
    section#testimonials {
        div.home-testimonial-call-box {
            width: 90%;
        }
        div.testimonial-form {
            .modal-content {
                input[type="submit"] {
                    margin: 0 auto;
                }
            }
        }
        .carousel-control.left {
            margin-left: 12%;
        }
        .carousel-control.right {
            margin-right: 33%;
        }
    }
}
@media (max-width: 570px) {
    section#testimonials {
        div.testimonial-form {
            .modal-content {
                padding: 20px;
            }
        }
        img.testimonial-form-close-button {
            right: 1%;
            top: -27%;
        }
    }
}
@media (max-width: 480px) {
    section#testimonials {
        div.home-testimonial-call-box {
            h1.number span {
                display: none;
            }
        }
    
        h1.home-testimonial-header {
            font-size: 30px;
        }   
    }
}
@media (max-width: 460px) and (min-width: 450px) {
    section#testimonials {
        img.testimonial-form-close-button {
            top: -23%;
        }
    }
}
@media (max-width: 450px) {
    section#testimonials {
        div.testimonial-form {
            .modal-content {
                padding: 10px 5px;
                img.testimonial-form-close-button {
                    right: 5%;
                    top: -23%;
                }
                h1 {
                    font-size: 30px;
                    padding-bottom: 15px;
                }
                p.testimonial-form-text {
                    font-size: 14px;
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
        
    }
}
@media (max-width: 415px) {
    section#testimonials {
        div.testimonial-form {
            .modal-content {
                width: 95%;
                margin: 0 auto;
            }
        }
        .carousel-control.right {
            margin-right: 38%;
        }
    }
}
@media (max-width: 375px) {
    section#testimonials {
        div.home-testimonial-call-box {
            h1.number {
                font-size: 22px;
            }
            h4.call, p, p.or {
                font-size: 14px;
            }
        }
        div.carousel-inner div.item {
            p.testimonial-text {
                margin-bottom: 20px;
            }
            p.caption {
            	margin-bottom: 80px;
            }
        }
        div.testimonial-form {
            .modal-content {
                input, select {
                    font-size: 12px;
                }
            }
        }
        .carousel-control.left {
            margin-left: 15px;
        }
        .carousel-control.right {
            margin-right: 35%;
        }
    }
}
@media (max-width: 320px) {
    section#testimonials {
        div.carousel-inner {
            width: 90%;
            margin: 0 auto;
            div.item {
                p.testimonial-text, p.caption {
                    font-size: 16px;
                }
            }
        }
        div.testimonial-form {
            .modal-content {
                img.testimonial-form-close-button {
                    top: -28%;
                    right: 6%;
                }
            }
        }
        .carousel-control.left {
        	margin-left: 5px;
        }
        .carousel-control.right {
        	margin-right: 41%;
        }
    }
}
// end of media queries for testimonials section

//Programs//
@media (max-width: 2000px) and (min-width: 1735px) {
	section.programs {
		.home-program-light-blue {
			button {
				margin-bottom: 36px;
				margin-top: 40px;
			}
		}
	}
}

@media (max-width: 1735px) {
	section.programs {
		.home-program-dark-blue, .home-program-orange {
			button {
				margin-bottom: 55px;
			}
		}
		.home-program-yellow, .home-program-light-blue{
			button {
				margin-top: 22px;
				margin-bottom: 53px;	
			}
		}
	}
}

@media (max-width: 1606px) {
	section.programs {
		.home-program-yellow {
			button {
				margin-top: 22px;
			}
		}
	}
}

@media (max-width: 1605px) {
	section.programs {
		.home-program-yellow {
			button {
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 1600px) {
	section.programs {
		.home-program-orange, .home-program-dark-blue {
			button {
				margin-bottom: 59px;
			}
		}
		.home-program-light-blue {
			button {
				margin-bottom: 57px;
			}
		}
		.home-program-yellow button {
			margin-top: 0;
			margin-bottom: 57px;
		}
	}
}

@media (max-width: 1593px) {
	section.programs {
		.home-program-dark-blue button {
			margin-bottom: 57px;
			margin-top: 0;
		}
	}
}

@media (max-width: 1590px) {
	section.programs {
		.home-program-orange button {
			margin-top: 0;
			margin-bottom: 57px;
		}
	}
}

@media (max-width: 1467px) {
	section.programs {
		.home-program-orange, .home-program-yellow, .home-program-dark-blue {
			button {
				margin-bottom: 63px;
				margin-top: 16px;
			}
		}
	}
}

@media (max-width: 1338px) {
	section.programs {
		.home-program-orange {
			button {
				margin-top: 22px;
				margin-bottom: 57px;
			}
		}
	}
}

@media (max-width: 1336px) {
	section.programs {
		.home-program-orange {
			button {
				margin-top: 0;
			}
		}
	}
}


@media (max-width: 1303px) {
	section.programs {
		.home-program-dark-blue button {
			margin-top: 16px;
		}
	}
}

@media (max-width: 1300px) {
	section.programs {
		.home-program-dark-blue button {
			margin-top: 0;
			margin-bottom: 57px;
		}
	}
}


@media (max-width: 1295px) {
	section.programs {
		.home-program-yellow button {
			margin-top: 22px;
			margin-bottom: 57px;
		}
	}
}

@media (max-width: 1294px) {
	section.programs {
			.home-program-yellow button {
				margin-top: 0;
			}
	}
}

@media (max-width: 1230px) {
	section.programs {
		.home-program-light-blue button {
			margin-top: 22px;
		}
	}
}


@media (max-width: 1226px) {
	section.programs {
		.home-program-light-blue button {
			margin-top: 0;
		}
	}
}

@media (max-width: 1172px) {
	section.programs {
		.home-program-dark-blue {
			button {
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 1148px) {
	section.programs {
		.home-program-orange, .home-program-yellow, .home-program-light-blue, .home-program-dark-blue {
			button {
				margin-top: 22px;
			}
		}
	}
}

@media (max-width: 1145px) {
	section.programs {
		.home-program-dark-blue button {
			margin-top: 0;
		}
	}
}

@media (max-width: 1127px) {
	section.programs {
		.home-program-orange button {
			margin-top: 22px;
		}
	}
}

@media (max-width: 1117px) {
	section.programs {
		.home-program-yellow {
			button {
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 1113px) {
	section.programs {
		.home-program-light-blue button {
			margin-top: 22px;
		}
	}
}

@media (max-width: 1112px) {
	section.programs {
		.home-program-light-blue button {
			margin-top: 0;
		}
	}
}

@media (max-width: 1110px) {
	section.programs {
		.home-program-orange, .home-program-dark-blue, .home-program-dark-blue, .home-program-light-blue {
			h3 {
				padding-bottom: 27px;
			}
		}
	}
}

@media (max-width: 1109px) {
	section.programs {
		.home-program-yellow {
			button {
				margin-top: 22px;
			}
			h3 {
				margin-top: 4px;
			}
		}
		.home-program-orange {
			button {
				margin-top: 0;
			}
		}
	}
}

@media (max-width: 1108px) {
	section.programs {
		.home-program-yellow button {
			margin-top: 22px;
		}
		.home-program-yellow h3 {
			margin-top: 5px;
		}
	}
}
@media (max-width: 1107px) {
	section.programs {
		.home-program-yellow h3 {
			margin-bottom: 19px;
		}
	}
}

@media (max-width: 1106px) {
	section.programs {
		.home-program-yellow h3 {
			margin-bottom: 0;
		}
		.home-program-yellow button {
			margin-top: 0;
		}
		.home-program-yellow p {
			margin-top: 58px;
		}
	}
}

@media (max-width: 1105px) {
	section.programs {
		.home-program-yellow p {
			margin-top: 31px;
		}
	}
}


@media (max-width: 1065px) {
	section.programs {
		.home-program-light-blue h3 {
			padding-bottom: 5px;
		}
	}
}


@media (max-width: 1032px) {
	section.programs {
		.home-program-yellow p {
			margin-top: 9px;
		}
	}
}

@media (max-width: 1013px) {
	section.programs {
		.home-program-dark-blue button {
			margin-top: 22px;
		}
		.home-program-dark-blue h3 {
			padding-bottom: 5px;
		}
	}
}

@media (max-width: 1012px) {
	section.programs {
		.home-program-dark-blue button {
			margin-top: 0;
		}
	}
}

@media (max-width: 1007px) {
	section.programs {
		.home-program-orange h3 {
			padding-bottom: 6px;
		}
	}
}

@media (max-width: 991px) {
	section.programs {
		.home-program-yellow p {
			margin-top: 39px;
		}
		.home-program-light-blue button {
			margin-top: 22px;
		}
		.home-program-orange p {
			margin-top: 37px;

		}
	}
}

@media (max-width: 971px) {
	section.programs {
		.home-program-orange, .home-program-yellow, .home-program-dark-blue, .home-program-light-blue {
			min-height: 30vh;

		}
	}
}

@media (max-width: 871px) {
	section.programs {
		.home-program-orange, .home-program-yellow, .home-program-dark-blue, .home-program-light-blue {
			min-height: 30vh;
		}
		.home-program-dark-blue {
			p{
				margin-top: 37px;
			}
		}
	}
}

@media (max-width: 868px) {
	section.programs {
		.home-program-dark-blue {
			p {
				margin-top: 42px
			}
			button {
				margin-top: 16px;
			}
		}
	}
}
@media (max-width: 802px) {
	section.programs {
		.home-program-orange {
			button {
				margin-top: 22px;
			}
		}
	}
}

@media (max-width: 801px) {
	section.programs {
		.home-program-orange {
			p {
				margin-top: 42px;
			}
			button {
				margin-top: 17px;
			}
		}
	}
}
@media (max-width: 796px) {
	section.programs {
		.home-program-dark-blue button{
			margin-top: 22px;
		}
		.home-program-dark-blue p {
			margin-bottom: 22px;
		}
	}
}
@media (max-width: 795px) {
	section.programs {
		.home-program-orange {
			button {
				margin-top: 0;
			}
			p {
				margin-top: 37px;
			}
		}
		.home-program-light-blue {
			button {
				margin-top: 44px;
			}
		}
		.home-program-dark-blue p {
			margin-bottom: 44px;
		}
	}
}

@media (max-width: 767px) {
	section.programs {
		div.programs-text {
			text-align: center;
		}
		h3 {
			margin: 0 auto;
			padding-left: 0;
		}
		.home-program-orange, .home-program-yellow, .home-program-dark-blue, .home-program-light-blue {
			min-height: 20vh;
			padding: 5px;
		}
		button {
			margin-left: 0;
		}
		.home-program-orange {
			margin-top: -3px;
		}
	}
}
//////////////////////////////////
//////S A T   T U T O R I N G/////
//////////////////////////////////

//Letter//
@media (max-width: 991px) {
	section.letter {
		div.stat-one div.letter-fact-container h5 {
			padding-right: 10px;
		}
		div.stat-one {
			div.letter-image-container {
				margin-top: 4%;
			}
		}
		div.letter-parent {
			margin-right: 0;
		}
		p {
			width: 98%;
		}
	}
}

@media (max-width: 766px) {
	section.letter {
		h1 {
			text-align: center;
		}
		div.letter-parent {
			width: 93%;
			margin:0 auto;
		}
		div.letter-container {
			background-color: white;
			margin-top: 10%;
		}
		div.letter-stats {
			background-color: $brand-orange;
			width:98%;
			margin: 0 auto;
		}
		div.letter-div img {
			margin-bottom: -20%;
		}
		div.letter-right {
			padding: 30px 0;
			div.letter-image-container {
				float:none;
				margin: 0 auto;
				img {
					margin-bottom: 15%;
				}
			}
			div.letter-fact-container {
				float:none;
				width: 90%;
				margin: 0 auto;
				h5 {
					text-align: center;
					clear:both;
				}
				h5.two {
					padding-right: 0;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	section.letter {
		h1 {
			font-size: 30px;
		}
	}
}

@media (max-width: 375px) {
	section.letter {
		div.letter-5 {
			top: 88%;
		}
	}
}

//SAT An Approach Section//
@media (max-width: 2000px) {
	section.sat-an-approach div.sat-an-approach-boxes{
		 div.box-two {
			p.box-p {
				margin: 0;
			}
			h4 {
				padding-top: 6px;
				padding-bottom: 25px;
			}
		}
		div.box-one {
			h4 {
				padding-bottom: 24px;
			}
			img {
				width: 53%;
			}
		}
	}
}

@media (max-width: 1950px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-two {
			h4 {
				padding-top: 17px;
				padding-bottom: 36px;
			}
		}
		div.box-one {
			img {
				width: 55%;
			}
			p {
				margin-top: 20px;
			}
		}
	}
}

@media (max-width: 1675px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-one {
			img {
				width: 61%;
			}
			p {
				margin-top: 9px;
			}
		}
	}
}

@media (max-width: 1500px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-one {
			img {
				width: 63%;
			}
		}
	}
}

@media (max-width: 1350px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-one {
			img {
				width: 66%;
			}
		}
	}
}

@media (max-width: 1225px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-two {
			p {
				width: 93%;
				margin-left: 8px;
			}
		}
	}
}

@media (max-width: 1200px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-one {
			img {
				margin-top: -2%;
			}
		}
	}
}

@media (max-width: 1096px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-two {
			h4 {
				padding-top: 6px;
				padding-bottom: 20px;
			}
		}
		div.box-one {
			img {
				width: 68%;
			}
		}
	}
}

@media (max-width: 1087px) {
	section.sat-an-approach div.sat-an-approach-boxes {
		div.box-two {
			h4 {
				padding-top: 21px;
				padding-bottom: 32px;
			}
		}
		div.box-one {
			h4 {
				padding-bottom: 33px;
			}
			img {
				width: 81%;
				margin-top: -5%;
			}
		}
	}
}

@media (max-width: 991px) {
	section.sat-an-approach {
		h1 {
			width: 70%;
		}
		p.sat-an-approach-description {
			padding: 36px 0;
		}
		div.sat-an-approach-boxes {
			div.box-one {
				img {
					width: 30%;
					margin-top: 0;
				}
			}
			p.box-p {
				width: 80%;
				margin: 0 auto;
				text-align: left;
			}
			div.box-two, div.box-three {
				img { 
					width: 23%;
				}
			}
			div.box-two {
				margin-left: 5%;
			}
		}
	}
}

@media (max-width: 480px) {
	section.sat-an-approach {
		h1 {
			font-size: 30px;
			width: 85%;
		}
		div.sat-an-approach-boxes {
			div.box-one p, div.box-two p, div.box-three p {
				width: 100%;
			}
			div.box-one, div.box-two, div.box-three {
				padding: 0;
				margin-left: 0;
				margin-bottom: 35%;
				h4 {
					padding: 20px 0;
				}
			}
			div.box-one {
				img {
					width: 40%;
				}
				h4 {
					padding-top: 0;
				}
			}
			div.box-two img, div.box-three img {
				width: 30%;
			}
		}
		div.wide-container {
			width: 90%;
		}
		
	}
}

@media (max-width: 320px) {
	section.sat-an-approach {
		div.sat-an-approach-boxes {
			div.box-one {
				img {
					width: 50%;
				}
			}
			div.box-two, div.box-three {
				img {
					width: 36%;
				}
			}
		}
	}
}

//SAT Family Section//
@media (max-width: 600px) {
	section.sat-family {
		div.sat-family-section-two {
			margin-left: 3%;
		}
		div.family-paragraph {
			width: 83%;
		}
	}
}

@media (max-width: 480px) {
	section.sat-family {
		h1 {
			font-size: 30px;
			width: 90%;
			margin: 0 auto;
		}
		div.sat-family-section-two {
			margin: 0 auto;
			div.family-image-container {
				width: 100%;
				margin: 0 auto;
				text-align: center;
				clear: both;
				img {
					max-width: 30%;
				}
			}
			div.family-paragraph {
				clear: both;
				margin: 0 auto;
				width: 95%;
				margin-top: 10%;
				h4 {
					text-align: center;
				}
                p.sat-family-description{
                    padding: 0 0 90px 20px;
                }
			}
		}
		p {
			margin-bottom: 15%;
		}
	}
}
//SAT Results//
@media (max-width: 1320px) and (min-width: 1215px) {
	section.sat-results {
		div.tutors {
			p {
				width: 100%;
			}
		}
	}
}
@media (max-width: 982px) {
	section.sat-results {
		div.curriculum, div.practice, div.tutors, div.program, div.matching, div.grad {
			margin: 10px 0;
		}
	}
}

@media (max-width: 480px) and (min-width: 320px) {
	section.sat-results {
		h1 {
			font-size: 30px;
		}
		h1.sat-h1-2 {
			margin-bottom: 10px;
		}
		div.curriculum, div.practice, div.tutors, div.program, div.matching, div.grad {
			margin-top: 0;
			margin-bottom: 30px;
			img {
				margin-top:  30px;
			}
		}
	}
}

//SAT Programs//
@media (max-width: 992px) {
	section.sat-programs {
		p.sat-program-one-p {
			padding: 18px 40px;
		}
		ul.sat-programs-ul {
			li.sat-last-li {
				padding: 30px;
			}		
		}
	}
}

@media (max-width: 991px) {
	section.sat-programs {
		div.sat-program-boxes:nth-child(2), div.sat-program-boxes:first-child {
			p {
				padding: 28px 40px;
			}
		}
		ul.sat-programs-ul {
			li.sat-last-li {
				padding: 40px;
			}
		}
	}
}

@media (max-width: 767px) {
	section.sat-programs {
		ul.sat-programs-ul {
			li.sat-last-li {
				display: none;
			}
		}
		.sat-program-boxes {
			margin-bottom: 30px;
			div.text-center {
				width: 90%;
				margin: 0 auto;
			}
		}
		.sat-program-boxes:first-of-type {
			margin-top: 30px;
		}
		.sat-program-boxes:last-of-type {
		margin-bottom: 0;
		}
	}
}

@media (max-width: 480px) {
	section.sat-programs {
		h1 {
			font-size: 30px;
			width: 85%;
			margin: 0 auto;
		}
		.sat-program-boxes {
			p {
				font-size: 18px;
			}
		}
	}
}

//Start of media queries for SAT Tutors
@media (max-width: 992px) {
	section.meet-our-tutors {
        div.container {
            width: 95%;
        }
        div.hours, div.availability{
            margin: 0 auto;
            text-align: center;
            label {
                display: inline-block;
                padding: 0 10px;
                margin-bottom: 15px;
                input {
                    margin-right: 2px;
                }
            }
            button {
                display: block;
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 40px;
            }
        }
    }
}

@media (max-width: 600px) {
    section.meet-our-tutors {
        div.tutor {
            div.tutor-info {
                width: 70%;
                margin-left: 5%;
            }
        }
    }
}

@media (max-width: 515px) {
    section.meet-our-tutors {
        div.tutor {
            div.tutor-info {
                width: 68%;
                margin-left: 7%;
            }
        }
    }
}

@media (max-width: 480px) {
    section.meet-our-tutors {
        h1 {
            font-size: 30px;
        }
        div.tutor {
            div.tutor-image {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 10px;
            }
            div.tutor-info {
                width: 100%;
                margin: 0 auto;
                h4.name {
                    text-align: center;
                    padding-left: 16%;
                    margin-bottom: 10%;
                    span {
                        position: relative;
                        top: 32px;
                        right: 22%;
                    }
                }
                p {
                    width: 99%;
                }
            }
        }
    }
}

@media (max-width: 445px) {
    section.meet-our-tutors {
        div.tutor {
            div.tutor-info {
                h4.name {
                    padding-left: 21%;
                    margin-bottom: 15%;
                    span {
                        right: 30%;
                    }
                }
            }  
        }
    }
}

@media (max-width: 320px) {
    section.meet-our-tutors {
        div.tutor {
            div.tutor-info {
                h4.name span {
                    right: 35%;
                }
            }
        }
    }
}

////////////////////////////
///////CHEMISTRY PAGE///////
////////////////////////////

// start of media queries for chemistry page
@media(max-width:991px){
    section.one-to-one{
        .one-to-one-div {
            margin-bottom: 30px;
        
            img{
            float:left;
            width:200px;
            margin-right: 60px;
            margin-bottom: 30px;
            display:block;
            }
            img.icon-chem{
            
            margin-bottom:0px;
        
    }
        }
        h1{
            padding: 0 15%;
        }
        h2 {
            text-align: left;
        }
    }
}
@media (max-width:700px) {
    section.one-to-one {
        .one-to-one-div {
            img{
            float:none;
            margin-right:0;
            margin: 0 auto;
            }
        }
        h2 {
            text-align: center;
        }
    }
}
@media(max-width:530px){
    section.one-to-one{
        h1{
            padding:0;
        }
    }
}
@media (max-width: 1170px) {
    section.expert-team {
    img.icon {
        margin-bottom: 20px;
        }
    }
}
@media (max-width: 1030px){
    section.expert-team {
        img.expert-img {
            width:80%;
            margin: 0 auto 70px;
            display: block;
            float:none;
        }
        div.expert-boxes {
            width:100%;
            float:none;
        }
                h4{
            max-width:1000px;
        }
        img.icon, .expert-second img.icon{
            margin:0;
        }
        img.expert-img {
            margin-bottom: 30px;
        }
        .expert-first .expert-point, .expert-second .expert-point, .expert-third .expert-point,{
            margin-bottom: 80px ;
            padding-top: 30px;
        }
        .expert-third h4 {
            margin-top: 0;
        }
    
    
    
    }
}
@media (max-width:640px) {
    section.expert-team {
        img.icon, .expert-second img.icon {
            float:none;
            margin:0 auto;
            display:block;
        }
        .expert-first .expert-point, .expert-second .expert-point, .expert-third .expert-point {
            margin-bottom:30px;
        }
        img.expert-img {
            width:100%;
        }
    }
}
@media (max-width: 992px) {
    section.happy {
        img {
            width:100%;
            margin-top: 30px;
        }
    }
}


////////////////////////////
/////////MATH PAGE//////////
////////////////////////////

/////////////////////////
// start of media queries for math tutoring page


@media (max-width: 992px){
    section.math-an-approach {
        .box-one h2, .box-two h2, .box-three h2 {
            max-width:400px;
            margin: 10px auto;
        }
        .box-one p, .box-two p, .box-three p{
            max-width:100%;
            margin-bottom: 60px;
            text-align: center;

        }
        h1 {
            max-width: 100%;
        }

    }

    section.find {
        div.find-box{
            width: calc(33% - 20px);
        }
    }
}

@media (max-width: 735px){
    section.find{
        div.find-boxes{
            max-width:80%;
            margin:0 auto;
        }
        div.find-box{
            width: calc(50% - 20px);
        }

    }
}


@media (max-width: 611px) {
    section.find{
        div.find-boxes{
            max-width: calc(100% - 20px);
            margin: 0 10px;
        }
        div.find-box{
            width:calc(100% - 20px);
            max-width:100%;
            button{
                width:150px;
            }
        }
    
    }
}


////////////////////////////
///////ABOUT US PAGE////////
////////////////////////////

//Hero 
@media (max-width: 991px) {
    section.about-us-hero {
        div.about-us-hero-buttons {
            p.header-link-buttons {
                width: 20%;
            }
        }
    }
}

@media (max-width: 750px) {
    section.about-us-hero {
        h1 {
            margin-left: 0;
        }
    }
}

@media (max-width: 743px) {
    section.about-us-hero {
        div.about-us-hero-buttons {
            p.header-link-buttons {
                width: 25%;
            }
        }
    }
}

@media (max-width: 594px) {
    section.about-us-hero {
        div.about-us-hero-buttons {
            p.header-link-buttons {
                width: 30%;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 495px) {
    section.about-us-hero {
        div.about-us-hero-buttons {
            p.header-link-buttons {
                width: 35%;
            }
        }
    }
}

@media (max-width: 424px) {
    section.about-us-hero {
        div.about-us-hero-buttons {
            p.header-link-buttons {
                float: none;
                width: 40%;
            }
        }
    }
}

@media (max-width: 371px) {
    section.about-us-hero {
        div.about-us-hero-buttons {
            p.header-link-buttons {
                width: 45%;
            }
        }
    }
}

@media (max-width: 331px) {
    section.about-us-hero {
        div.about-us-hero-buttons {
            p.header-link-buttons {
                width: 50%;
            }
        }
    }
}
//Our Story
@media (max-width: 766px) {
    section.about-us-our-story {
        div.our-story-p1, div.our-story-p2 {
            padding: 0 20px 20px 20px;
            width: 100%;
        }
        h1 {
            padding-left: 10px;
        }

    }
}

@media (max-width: 480px) {
    section.about-us-our-story {
        h1 {
            font-size: 30px;
        }
    }
}

//The Team
@media (max-width: 991px) {
    section.about-us-the-team {
        div.the-team div.team-member{
            div.overlay div.overlayText {
                p.bio {
                    padding-top: 20px;
                    padding-left: 20px;
                    width: 95%;
                    line-height: 1.3;
                    padding-bottom: 5px;
                }
                p.learn-more {
                    width: 95%;
                    margin-bottom: 5px;
                    padding-left: 20px;
                }
                div.team-member-info2 h4 {
                    margin-top: 10px;
                }
            }
        }
    }
}
@media (max-width: 766px) {
    section.about-us-the-team {
        div.the-team {
            width: 95%;
            margin: 0 auto;
            div.team-member {
                div.overlay div.overlayText {
                    p.bio {
                        line-height: 1.7;
                        width: 90%;
                        padding-left: 30px;
                    }
                    p.learn-more {
                        padding-left: 30px;
                        margin-top: 20px;
                    }
                    div.team-member-info2 {
                        margin-top: 25%;
                    }
                }
            }
        }
    }
}

@media (max-width: 715px) {
    section.about-us-the-team {
        div.the-team {
            div.team-member {
                div.overlay div.overlayText {
                    div.team-member-info2 {
                        margin-top: 15%;
                    }
                }
            }
        }
    }
}

@media (max-width: 703px) {
    section.about-us-the-team {
        div.the-team div.team-member {
            div.overlay div.overlayText div.team-member-info2 {
                margin-top: 10%;
            }
        }
    }
}

@media (max-width: 670px) {
    section.about-us-the-team {
        div.the-team div.team-member {
            div.overlay div.overlayText div.team-member-info2 {
                margin-top: 0%;
            }
            div.overlay div.overlayText {
                p.learn-more {
                    margin-bottom: 17px;
                }
            }
        }
    }
}

@media (max-width: 645px) {
    section.about-us-the-team {
        div.the-team div.team-member {
            div.overlay div.overlayText {
                p.learn-more {
                    margin-bottom: 2px;
                }
                p.bio {
                    padding-bottom: 5px;
                }
            }
        }
    }
}

@media (max-width: 638px) {
    section.about-us-the-team {
        div.the-team div.team-member {
            div.overlay div.overlayText {
                p.bio {
                    width: 95%;
                }
                div.team-member-info2 {
                    margin-top: 5%;
                }
            }
        }
    }
}

@media (max-width: 622px) {
    section.about-us-the-team {
        div.the-team div.team-member {
            div.overlay div.overlayText{
                p.bio {
                    padding-left: 20px;
                }
                p.learn-more {
                    padding-left: 20px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    section.about-us-the-team {
        div.the-team div.team-member {
            div.overlay div.overlayText {
                p.bio {
                    line-height: 1.5;
                    padding-top: 20px;
                }
                p.learn-more {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 583px) {
    section.about-us-the-team {
        div.the-team div.team-member {
            div.overlay div.overlayText {
                p.bio {
                    line-height: 1.4;
                    padding-top: 15px;
                }
            }
        }
    }
}

@media (max-width:565px) {
    section.about-us-the-team {
        div.the-team div.team-member-container {
            width: 100%;
            margin: 0 auto;
            div.team-member div.overlay div.overlayText {
                padding-top: 40px;
                width: 100%;
                margin: 0 auto;
                p.bio {
                    line-height: 2.5;
                    padding-left: 40px;
                    width: 90%;
                }
                p.learn-more {
                    margin-top: 20px;
                    margin-bottom: 160px;
                    padding-left: 40px;
                }
                div.team-member-info2 {
                    padding-top: 20px;
                }
            }
        }
    }
}

@media (max-width: 535px) {
    section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                p.learn-more {
                    margin-bottom: 120px;
                }
            }
        }
    }
}

@media (max-width: 490px) {
    section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                p.learn-more {
                    margin-bottom: 80px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    section.about-us-the-team {
        h1 {
            font-size: 30px;
        }
    }
}

@media (max-width: 446px) {
    section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                p.learn-more {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 434px) {
     section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                p.learn-more {
                    margin-bottom: 20px;
                }
                p.bio {
                    width: 95%;
                }
            }
        }
    }
}

@media (max-width: 420px) {
     section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                padding-top: 20px;
                p.learn-more {
                    margin-bottom: 20px;
                } 
            }
        }
    }
}

@media (max-width: 396px) {
    section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                p.bio {
                    padding-top: 10px;
                    padding-left: 30px;
                }
                p.learn-more {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    padding-left: 30px;
                }
                div.team-member-info2 {
                    padding-top: 5px;
                }
            }
        }
    }
}

@media (max-width: 355px) {
     section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                p.bio {
                    padding-top: 0;
                    width: 97%;
                    padding-left: 15px;
                }
                p.learn-more {
                    margin-bottom: 5px;
                    margin-top: 5px;
                    padding-left: 15px;
                }
                div.team-member-info2 {
                    width: 95%;
                    padding-top: 2px;
                    h4 {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 330px) {
    section.about-us-the-team {
        div.the-team div.team-member-container {
            div.team-member div.overlay div.overlayText {
                p.bio {
                    line-height: 2.3;
                }
            }
        }
    }
}

//Careers
@media (max-width: 991px) {
    section.about-us-careers {
        div.posting .panel-default > .panel-heading + .panel-collapse > .panel-body button {
            margin-left: 40%;
            margin-top: 3%;
        }
    }
}
@media (max-width: 766px) {
    section.about-us-careers {
        div.container {
            width: 90%;
            margin: 0 auto;
        }
    }
}

@media (max-width: 661px) {
    section.about-us-careers {
        div.mentor-callout {
            h4, button {
                clear: both;
            }
            h4 {
                width: 100%;
                padding: 10px 60px; 
                margin-left: 3%;
            }
            button {
                width: 70%;
                margin-right: 15%;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 600px) {
     section.about-us-careers {
        div.posting .panel-default > .panel-heading + .panel-collapse > .panel-body button {
            margin-left: 0;
            margin-top: 3%;
        }
    }
}

@media (max-width: 520px) {
    section.about-us-careers {
        div.mentor-callout {
            h4 {
                padding: 10px;
            }
        }
    }
}

@media (max-width: 500px) {
    section.about-us-careers {
        div.mentor-callout {
            h4 {
                text-align: center;
            }
        }
    }
}

@media (max-width: 480px) {
    section.about-us-careers {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 24px;
        }
    }
}

@media (max-width: 428px) {
    section.about-us-careers {
        div.mentor-callout {
            button {
                width: 85%;
                margin-right: 8%;
            }
            h4 {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 380px) {
    section.about-us-careers {
        div.mentor-callout {
            h4 {
                font-size: 20px;
                padding: 10px 0;
            }
            button {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}

///////////////////////////
///////MATH PAGE///////////
///////////////////////////

// start of media queries for math tutoring page
@media (max-width: 992px){
    section.math-an-approach {
        .box-one h2, .box-two h2, .box-three h2 {
            max-width:400px;
            margin: 10px auto;
        }
        .box-one p, .box-two p, .box-three p{
            max-width:100%;
            margin-bottom: 60px;
            text-align: center;
        }
        h1 {
            max-width: 100%;
        }
    }
    section.find {
        div.find-box{
            width: calc(33% - 20px);
        }
    }
}
@media (max-width: 735px){
    section.find{
        div.find-boxes{
            max-width:80%;
            margin:0 auto;
        }
        div.find-box{
            width: calc(50% - 20px);
        }
    }
}
@media (max-width: 611px) {
    section.find{
        div.find-boxes{
            max-width: calc(100% - 20px);
            margin: 0 10px;
        }
        div.find-box{
            width:calc(100% - 20px);
            max-width:100%;
            button{
                width:150px;
            }
        }
    
    }
}

///////////////////////////
///////////FOOTER//////////
///////////////////////////
@media (max-width: 1253px) {
    div.footer-nav{
        nav.col-md-4.nav-one, nav.col-md-4.nav-two, nav.col-md-4.nav-three {
            padding-left: 30px;
        }
    }
    
}
@media (max-width: 992px) {
    div.footer-nav {
        padding-top: 30px;
        padding-bottom: 10px;
        nav {
            text-align: center;
            ul{
                margin-bottom: 0;
                li, li a {
                    padding: 5px 0;
                }
            }
        }
        nav.col-md-4.nav-one, nav.col-md-4.nav-two, nav.col-md-4.nav-three {
            padding-left: 0;
        }
    }
    footer div.logo {
        img {
            padding-bottom: 10px;
            display:block;
            margin: 0 auto;
        }
        p.copyright {
            margin: 0 auto;
            text-align: center;
        }
    }
    
}
@media (max-width: 480px) {
    div.footer-nav {
        nav {
            width: 100%;
            padding-left: 0;
            li {
                font-size: 16px;
                padding: 10px 0;
            }
        }
    }
}

